input {
	jdbc {
		jdbc_driver_library => "/usr/share/java/mysql-connector-java-8.0.19.jar"
		jdbc_driver_class => "com.mysql.jdbc.Driver"

		jdbc_connection_string => "{{ mysql.connection_string }}"
		jdbc_user => "{{ mysql.user}}"
		jdbc_password => "{{ mysql.password }}"

		statement => "SELECT * FROM {{ mysql.table }}"
		schedule => "{{ mysql.schedule }}"
	}
}

output {
    elasticsearch {
        hosts => "{{ dashbase_url }}"
        index => "{{ table }}"
        ssl_certificate_verification => false
    }
}
