input {
	jdbc {
		jdbc_driver_library => "/usr/share/java/mysql-connector-java-8.0.19.jar"
		jdbc_driver_class => "com.mysql.jdbc.Driver"

		jdbc_connection_string => "{{ sascdr_1.connection_string }}"
		jdbc_user => "{{ sascdr_1.user}}"
		jdbc_password => "{{ sascdr_1.password }}"
                jdbc_paging_enabled => true
                jdbc_page_size => "{{ jdbc_page_size }}"

                last_run_metadata_path => "/etc/logstash/conf.d/.logstash_jdbc_last_run_sascdr_1"
                statement_filepath => "/etc/logstash/conf.d/sascdr_mysql_statement"
                schedule => "*/1 * * * *"
                use_column_value => true
                tracking_column => "time_release"
                tracking_column_type => "timestamp"
	}
}

filter {
  mutate {
    copy => {
      "time_start" => "@timestamp"
    }
    add_field => {
      "type" => "cdr"
    }
  }
  mutate {
    rename => {
      "orig_callid" => "call-id"
      "time_start" => "sas_time_start"
    }
  }
}

output {
    elasticsearch {
        hosts => "{{ dashbase_url }}"
        index => "{{ table }}"
        ssl_certificate_verification => false
    }
}
